[Unit]
Description=PFE SOC - Nmap Watcher
After=wazuh-manager.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/pfe_soc
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/ubuntu/ml_env/bin/python3 /home/ubuntu/pfe_soc/nmap_watcher.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
